/*主展区*/
.body {
    margin-top: 15px;
}

/*左展区*/
.body .leftArea {
    width: 183px;
    background: #f3f3f3;
    border: 1px solid #d7d7d7;
}

/*右展区*/
.body .rightArea {
    width: 810px;
}

/*商品分类导航头*/
.nav_title {
    height: 34px;
    width: 183px;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
    line-height: 34px;
}

.nav_body {
    line-height: 26px;
}

.nav_body .nav_list {
    padding: 4px 21px;
    border-bottom: 1px dotted #d7d7d7;
}

.nav_body .nav_list h4 {
    font-size: 12px;
    font-weight: bold;
    margin-left: -3px;
}

.nav_body li {
    width: 50%;
    float: left;
}

/*商品列表头布局*/
.rightArea .banner_bar {
    float: none;
}

.product_list_title {
    margin-top: 7px;
    border-bottom: 2px solid #cccccc;
    height: 34px;
}

.product_list_title h3 {
    font-family: "MicrosoftYaHei", "微软雅黑";
    font-weight: 300;
    width: 180px;
    padding-left: 9px;
    line-height: 34px;
    height: 34px;
    border-bottom: 2px solid #096dba;
}

/*商品列表*/
.product_list_body {
    overflow: hidden;
}

.product_list {
    width: 812px;
}

.product_list .product_item {
    width: 183px;
    height: 284px;
    padding: 0 10px;
    line-height: 19px;
    float: left;
}

.product_item .product_img {
    width: 183px;
    height: 165px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.product_item img {
    vertical-align: middle;
    background: url("../images/shop_05.jpg") center no-repeat;
}

.product_item .product_info {
    text-align: center;
    color: #000;
    font-weight: 400;
}

.product_item .product_info a:hover {
    text-decoration: underline;
}

.product_item .product_price {
    margin-top: 10px;
    color: #e0625a;
    font-weight: bold;
}

.product_item .product_comment {
    color: #000;
    font-weight: 300;
    font-size: 12px;
}

.product_item .product_comment span {
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url("../images/icon/collection.png") center no-repeat;
    margin-right: 3px;
}


